*{
    margin: 0;
    padding: 0;
}
/*limpie propiedades*/
a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar{
    position: fixed;
    background-color: #f9f9f9;
    top: 0;
    left: 33%;
    height: 80px;
    
}

.navbar a{
    font-size: 14px;
    line-height: 80px;
    font-weight: 500px;
    padding: 10px 20px;
    margin: 0 10px;
    letter-spacing: 2px;
}
.contenedor-imagen{
    height: 100vh;

}
.contenedor-imagen img{
    width: 100%;
    height: 100%;
    }

main{
    height: 1050px;
}
.contenido{
    position: absolute;
    right: 0;
    left: 25%;
}
.contenido h2{
    text-align: center;
    color: blue;
}
.contenedor{
    position: relative;
    height: 100px;
}
